* {
  margin: 0;
  padding: 0;
  font-family: "Assistant", sans-serif;
}

.fullpage {
  font-weight: 300;
  background-color: #ffffff;
  color: #000000;
}

@media only screen and (min-width: 769px) {
  .fullpage {
    font-size: 32px;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
    line-height: 70px;
  }

  h3 {
    font-size: 40px;
    line-height: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .fullpage {
    font-size: 14px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 20px;
    line-height: 26px;
  }

  h3 {
    font-size: 18px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  font-weight: 500;
}

h2,
h3 {
  font-weight: 400;
}

/*-------------HEADER-------------*/
.header .header-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 2;
  background-color: #1b3142;
}

@media only screen and (min-width: 769px) {
  .header .header-desktop {
    display: block;
  }

  .header .header-mobile {
    display: none;
  }

  .header img {
    margin: 10px 20px;
  }

  .header nav {
    max-width: 700px;
    width: 80%;
  }

  .header nav > ul.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .header .header-mobile {
    display: block;
  }

  .header .header-desktop {
    display: none;
  }

  .header img {
    margin: 5px 10px;
  }

  .header nav {
    display: none;
  }
}

.header svg {
  margin: 5px 10px;
}

.header .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  overflow-x: hidden;
  background-color: #1b3142;
  transition: 0.5s;
}

.header .overlay .close-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.header .overlay nav.overlay-content {
  display: block;
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 32px;
}

.header .overlay nav.overlay-content ul {
  padding: 0 10%;
}

.header .overlay nav.overlay-content ul > li {
  margin-bottom: 20%;
}

/*----------JOIN-CONTACT----------*/
.join-section {
  padding: 10%;
  background-color: #ebebeb;
}

.join-section .section h3 {
  font-weight: 400;
  color: #000000;
}

@media only screen and (min-width: 769px) {
  .join-section .section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .join-section .section h3 {
    width: 70%;
  }

  .join-section .section a {
    margin: 5% 0;
  }
}

/* If the screen size is 768px or less*/
@media only screen and (max-width: 768px) {
  .join-section .section h3 {
    text-align: center;
  }

  .join-section .section a {
    margin: 5% auto;
  }
}

.join-section .join {
  border-bottom: 3px solid #c2c2c2;
  margin-bottom: 5%;
}

/*-------------FOOTER-------------*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  background-color: #1b3142;
}

@media only screen and (min-width: 769px) {
  .footer ul {
    width: 200px;
  }
}

@media only screen and (max-width: 768px) {
  .footer ul {
    width: 80px;
  }
}

.footer ul.nav-links {
  text-align: right;
}

.footer ul > li a {
  display: block;
  padding: 8% 0;
}

.footer li {
  margin-bottom: 10%;
}

li a {
  color: #ffffff;
  transition: 0.5s;
}

li a:hover {
  color: #40a8e2;
}

/*-----------BUTTONS-----------*/
@media only screen and (min-width: 769px) {
  .button {
    display: block;
    padding: 12px 30px;
    width: 130px;
    border: 5px solid #40a8e2;
    border-radius: 17px;
    transition: 0.5s;

    text-align: center;
    font-size: 30px;
  }
}

@media only screen and (max-width: 768px) {
  .button {
    display: block;
    padding: 8px 18px;
    width: 70px;
    border: 3px solid #40a8e2;
    border-radius: 12px;
    transition: 0.5s;

    text-align: center;
    font-size: 18px;
  }
}

.light {
  color: #1b3142;
}

.dark {
  color: #ffffff;
}

.light:hover {
  background-color: #40a8e2;
  color: #ebebeb;
}

.dark:hover {
  background-color: #40a8e2;
  color: #1b3142;
}

/*========================MAIN=PAGE========================*/

/*-----------HERO-----------*/
#hero-section .hero-banner {
  padding: 20% 10%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media only screen and (min-width: 769px) {
  #hero-section .hero-banner {
    background-image: url("/img/hero_background_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #hero-section .hero-banner {
    background-image: url("/img/hero_background_small.png");
  }
}

#hero-section .hero-banner .hero-text {
  text-align: center;
  color: #ffffff;
}

#hero-section .hero-banner .hero-text h1 {
  margin-top: 30%;
  margin-bottom: 10%;
}

/*-----------TECHNOLOGY-----------*/
#technology-section {
  background-color: #1b3142;
  color: #ffffff;
}

#technology-section .description {
  padding: 10%;
}

#technology-section .description h3 {
  margin-bottom: 5%;
}

#technology-section .description h2 {
  margin-bottom: 5%;
  color: #40a8e2;
}

#technology-section .description p {
  margin-bottom: 8%;
}

/*-----------MATERIALS-----------*/
@media only screen and (min-width: 769px) {
  #materials-section {
    display: flex;
    flex-direction: row-reverse;
  }

  #materials-section .description {
    width: 40%;
    padding: 5%;
  }
}

@media only screen and (max-width: 768px) {
  #materials-section .description {
    padding: 5% 10%;
    text-align: center;
  }
}

#materials-section .description h2 {
  display: block;
  border-bottom: 3px solid #c2c2c2;
  margin-bottom: 5%;
  color: #40a8e2;
}

#materials-section .description p {
  margin-bottom: 8%;
}

#materials-section .slides-container {
  overflow-y: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

@media only screen and (max-width: 768px) {
  #materials-section .vc {
    padding: 0 5%;
  }

  #materials-section .slides-container {
    max-height: 400px;
  }

  #materials-section .slides-container .slide {
    margin: 5% 0;
  }

  #materials-section .slides-container .slide-text {
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  #materials-section .slides-container .plastics .slide-text {
    background-image: url("/img/plastics_image_small.png");
  }

  #materials-section .slides-container .paper .slide-text {
    background-image: url("/img/paper_image_small.png");
  }

  #materials-section .slides-container .metals .slide-text {
    background-image: url("/img/metals_image_small.png");
  }

  #materials-section .slides-container .construction .slide-text {
    background-image: url("/img/constuction_image_small.png");
  }

  #materials-section .slides-container .electronics .slide-text {
    background-image: url("/img/electronics_image_small.png");
  }

  #materials-section .slides-container .organics .slide-text {
    background-image: url("/img/organics_image_small.png");
  }
}

@media only screen and (min-width: 769px) {
  #materials-section .vc {
    width: 60%;
    position: relative;
  }

  #materials-section .slides-container {
    max-height: 1000px;
  }

  #materials-section .slides-container .slide {
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
  }

  #materials-section .slides-container .plastics {
    background-image: url("/img/plastics_image_large.png");
  }

  #materials-section .slides-container .paper {
    background-image: url("/img/paper_image_large.png");
  }

  #materials-section .slides-container .metals {
    background-image: url("/img/metals_image_large.png");
  }

  #materials-section .slides-container .construction {
    background-image: url("/img/constuction_image_large.png");
  }

  #materials-section .slides-container .electronics {
    background-image: url("/img/electronics_image_large.png");
  }

  #materials-section .slides-container .organics {
    background-image: url("/img/organics_image_large.png");
  }
}

#materials-section .slide .slide-text {
  padding: 7% 5%;
}

#materials-section .slide .slide-text .row {
  display: flex;
}

#materials-section .row .column {
  width: 40%;
  margin-right: 10%;
}

#materials-section .slide .slide-text h3,
#materials-section .slide .slide-text p {
  margin-bottom: 5%;
}

#materials-section .slide .slide-text li {
  font-size: 12px;
  margin-bottom: 3%;
}

#materials-section .vc .desktop {
  width: 100%;
  position: absolute;
  justify-content: space-evenly;
  bottom: 0;
  box-shadow: inset 0 -100px 100px -70px #000000;
}

@media only screen and (min-width: 769px) {
  #materials-section .slide .slide-text li {
    font-size: 20px;
  }

  #materials-section .vc .mobile {
    display: none;
  }

  #materials-section .vc .desktop {
    display: flex;
  }
}

@media only screen and (max-width: 768px) {
  #materials-section .slide .slide-text li {
    font-size: 12px;
  }

  #materials-section .vc .desktop {
    display: none;
  }

  #materials-section .vc .mobile {
    display: flex;
    justify-content: space-evenly;
  }
}

#materials-section .vc .mobile .arrow {
  margin: 3%;
}

/*========================TECH=PAGE========================*/

/*-----------PLAIN-BANNER-----------*/
.plain-banner .title {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  padding-bottom: 10%;
  box-sizing: border-box;
}

@media only screen and (min-width: 769px) {
  .plain-banner .title {
    background-image: url("/img/AMP_grey_icon_small.png");
    padding-top: 15%;
  }
}

.plain-banner .title h1 {
  text-align: center;
  color: #1b3142;
}

@media only screen and (max-width: 768px) {
  .plain-banner .title {
    background-image: url("/img/AMP_grey_icon_large.png");
    padding-top: 25%;
  }
}

/*---------------AI--------------*/
#ai-section {
  color: #ffffff;
}

.section-title {
  width: 70%;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  margin: 0 10%;
  z-index: 1;
  padding: 5%;
  color: #ffffff;
}

@media only screen and (min-width: 769px) {
  #ai-section .ai {
    background-image: url("/img/ai_background_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #ai-section .ai {
    background-image: url("/img/ai_background_small.png");
  }

  .section-title h2 {
    text-align: center;
  }
}

#ai-section .description {
  position: relative;
  top: 20px;
  padding: 5%;
  padding-top: 20%;
  background-color: #1b3142;
}

#ai-section .description h3 {
  margin-bottom: 5%;
}

ul.row > li.row-item {
  align-items: center;
  justify-content: space-evenly;
}

@media only screen and (min-width: 769px) {
  ul.row {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
  }

  ul.row > li.row-item {
    width: 60%;
    padding: 20px;
  }

  ul.row > li.row-item svg {
    width: 105px;
    height: 105px;
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
  }

  ul.row > li.row-item .item-text {
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  ul.row > li.row-item {
    display: flex;
    margin-bottom: 5%;
  }

  ul.row > li.row-item .item-text {
    width: 60%;
    padding: 0 5%;
  }
}

/*--------INTELLIGENCE-AT-SCALE-------*/
#intell-at-scale-section * {
  box-sizing: border-box;
}

#intell-at-scale-section .slide-title {
  padding-top: 10%;
  text-align: center;
}

#intell-at-scale-section .slide-title h2 {
  padding: 5% 0;
  color: #1b3142;
}

#intell-at-scale-section .hc {
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 769px) {
  #intell-at-scale-section .hc ul.slides-container {
    height: 80%;
  }
}

@media only screen and (max-width: 768px) {
  #intell-at-scale-section .hc ul.slides-container {
    height: 20%;
  }
}

#intell-at-scale-section .hc ul.slides-container {
  width: 100%;
  display: flex;
  overflow: scroll;
  scroll-behavior: smooth;
}

#intell-at-scale-section .hc ul.slides-container > li.slide {
  width: 100%;
  height: 100%;
  flex: 1 0 100%;
}

#intell-at-scale-section .hc ul.slides-container .content {
  margin: 5%;
  justify-content: center;
  align-items: center;
  min-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 17px;
  color: #ffffff;
}

@media only screen and (min-width: 769px) {
  #intell-at-scale-section .hc ul.slides-container .content p {
    height: 60vh;
  }

  #intell-at-scale-section .hc ul.slides-container .content p,
  #intell-at-scale-section .hc ul.slides-container .content .number-text {
    padding: 0 20%;
    padding-top: 5%;
  }

  #intell-at-scale-section .hc ul.slides-container .first {
    background-image: url("/img/hc1_large.png");
  }

  #intell-at-scale-section .hc ul.slides-container .second {
    background-image: url("/img/hc2_large.png");
  }

  #intell-at-scale-section .hc ul.slides-container .third {
    background-image: url("/img/hc3_large.png");
  }

  #intell-at-scale-section .hc .slide-toggle {
    position: absolute;
    top: 50%;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  #intell-at-scale-section .hc ul.slides-container .content p {
    height: 30vh;
  }

  #intell-at-scale-section .hc ul.slides-container .content p,
  #intell-at-scale-section .hc ul.slides-container .content .number-text {
    padding: 2% 10%;
  }

  #intell-at-scale-section .hc ul.slides-container .first {
    background-image: url("/img/hc1_small.png");
  }

  #intell-at-scale-section .hc ul.slides-container .second {
    background-image: url("/img/hc2_small.png");
  }

  #intell-at-scale-section .hc ul.slides-container .third {
    background-image: url("/img/hc3_small.png");
  }

  #intell-at-scale-section .hc .slide-toggle {
    position: relative;
    justify-content: space-around;
  }
}

#intell-at-scale-section .hc .slide-toggle {
  width: 100%;
  display: flex;
  padding: 0 5%;
}

#intell-at-scale-section .hc .slide-toggle .arrow {
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  #intell-at-scale-section .hc .slide-toggle .arrow svg {
    width: 100px;
    height: 100px;
  }
}

/*---------------SORTING--------------*/
#robotic-sorting-section .robotic-sorting-title {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 15%;
  color: #ffffff;
}

@media only screen and (min-width: 769px) {
  #robotic-sorting-section .robotic-sorting-title {
    background-image: url("/img/rob_sort_background_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #robotic-sorting-section .robotic-sorting-title {
    background-image: url("/img/rob_sort_background_small.png");
    text-align: center;
  }
}

#robotic-sorting-section .description {
  text-align: center;
  padding: 10%;
}

#robotic-sorting-section .description h3 {
  margin-bottom: 5%;
  color: #40a8e2;
}

#robotic-sorting-section .benefits {
  padding: 5%;
  background-color: #40a8e2;
  color: #ffffff;
}

.benefits h4 {
  text-align: center;
  margin-bottom: 5%;
}

/*------MATERIAL-CHARACTERISATION-----*/
#material-char-section {
  background-color: #40a8e2;
}

#material-char-section .container {
  position: relative;
  top: 20px;
}

@media only screen and (min-width: 769px) {
  #material-char-section .mat-char {
    background-image: url("/img/material_char_background_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #material-char-section .mat-char {
    background-image: url("/img/material_char_background_small.png");
  }
}

#material-char-section .description {
  text-align: center;
  padding: 10%;
  padding-top: 25%;
  background-color: #1b3142;
  color: #ffffff;
}

#material-char-section .description h3 {
  margin-bottom: 5%;
  color: #40a8e2;
}

#material-char-section .benefits {
  background-color: #ffffff;
  padding: 5%;
}

/*=========================CAREERS=========================*/

/*------------TITLE-----------*/
#careers-text-section {
  text-align: center;
  color: #ffffff;
}

#careers-text-section .title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10%;
}

@media only screen and (min-width: 769px) {
  #careers-text-section .title {
    background-image: url("/img/careers_background_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #careers-text-section .title {
    background-image: url("/img/careers_background_small.png");
  }
}

/*--------DESCRIPTION---------*/
#careers-text-section .description {
  padding: 10%;
  padding-top: 5%;
  background-color: #1b3142;
}

@media only screen and (min-width: 769px) {
  #careers-text-section .description p {
    margin: 0 auto;
    width: 60%;
  }
}

/*----------POSITIONS---------*/
#positions-section {
  background-color: #1b3142;
}

@media only screen and (min-width: 769px) {
  #positions-section .workers-img {
    display: none;
  }
}

#positions-section .workers-img img {
  width: 70%;
  position: absolute;
  right: 0;
  z-index: 1;
}

#positions-section .container {
  position: relative;
  top: 20px;
  background-color: #ffffff;
}

@media only screen and (max-width: 768px) {
  #positions-section .container {
    padding-top: 40%;
  }
}

#positions-section .container .title {
  padding: 5%;
}

#positions-section .container .title h2 {
  margin-bottom: 5%;
  color: #40a8e2;
}

#positions-section .container .card .card-text h3 {
  margin-bottom: 3%;
}

#positions-section .container .card .card-text {
  padding: 5%;
}

#positions-section .container .card .card-text ul {
  margin-bottom: 5%;
}

@media only screen and (min-width: 769px) {
  #positions-section .container .card .card-text > li {
    margin-bottom: 20px;
  }

  #positions-section .container .first {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10%;
  }

  #positions-section .container .first img {
    width: 60%;
  }

  #positions-section .container .second {
    justify-content: space-evenly;
  }

  #positions-section .container .second img {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  #positions-section .container .card .card-text > li {
    margin-bottom: 5px;
  }

  #positions-section .container .first {
    margin-bottom: 10%;
  }

  #positions-section .container .first img {
    width: 90%;
  }

  #positions-section .container .second {
    justify-content: space-between;
  }

  #positions-section .container .second img {
    width: 40%;
  }
}

#positions-section .container .second {
  display: flex;
  align-items: flex-end;
}

/*=======================CONTACT=PAGE======================*/

/*-----------BANNER-----------*/
#banner-section {
  background-color: #40a8e2;
}

#banner-section .title {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 20%;
  padding-top: 40%;
}

@media only screen and (min-width: 769px) {
  #banner-section .title {
    background-image: url("/img/global_presence_large.png");
  }
}

@media only screen and (max-width: 768px) {
  #banner-section .title {
    background-image: url("/img/global_presence_small.png");
  }
}

#banner-section .title h1 {
  text-align: center;
  color: #ffffff;
}

/*------------TEXT------------*/
#text-section {
  width: 80%;
  margin: 0 auto;
}

#text-section .card {
  padding: 5% 0;
}

#text-section .worldwide {
  border-bottom: 3px solid #c2c2c2;
}

#text-section .card h2 {
  margin-bottom: 3%;
  color: #40a8e2;
}

@media only screen and (min-width: 769px) {
  #text-section .card .row {
    display: flex;
    justify-content: space-between;
  }

  #text-section .card .row .column .item {
    margin-bottom: 15%;
  }

  #text-section .card .row .column {
    max-width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  #text-section .card h2 {
    text-align: center;
  }
}

#text-section .card h3 {
  margin-bottom: 3%;
}
